// Reset
:global {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul, ol {
    list-style: none;
  }
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: #FFF;
}

.sideAndMainContainer {
  flex: 1;
  display: flex;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 7.3125rem;
  background: #020203;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 3.69rem;
}

.mainContainer {
  flex: 1;
  padding: 4.25rem 5.62rem 5.38rem 6.69rem;
}

.copyrightContainer {
  position: relative;

  p {
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5rem;
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: left;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
  }
}
